* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin-bottom: 30px;
  padding: 0 20px;
  flex-wrap: wrap;
  text-align: center;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-item-image {
  width: 200px;
  height: 150px;
  object-fit: contain;
  background-color: #fff;
  /* border: 1px solid black; */
}

.shopping-cart {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 20px;
}

.shopping-cart__items {
  display: grid;
  grid-template-columns: 300px auto;
  gap: 30px;
  max-width: 100%;
}

.shopping-cart .basket-img {
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row: 1 / span 1;
  transform: rotateY(180deg);
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: flex-start;
  margin-top: 1rem;
  gap: 30px;
}

.text-content .empty-cart {
  text-align: left;
  font-size: 30px;
}

.text-content p.empty-cart {
  font-size: 20px;
}

.cart-link {
  text-decoration: none;
  font-weight: bold;
  color: var(--brand-color);
  cursor: pointer;
}

.cart-link:hover {
  color: var(--accent-color);
}

.remove-cart {
  font-weight: bold;
  color: var(--brand-color);
  cursor: pointer;
  padding: 7px 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--accent-color);
  color: #fff;
}
.remove-cart:hover {
  background-color: #b9b3b3;
}

.num-btn {
  cursor: pointer;
}

.cart-item-details p {
  font-size: 16px;
  margin-top: 0px;
  color: var(--brand-color);
  font-weight: 500;
}

.cart-item-details .total-price {
  font-weight: 600;
}

.quantity-control {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  gap: 5px;
}

.quantity-control .basket-image {
  width: 20px;
}

.remove-cart {
  margin-bottom: 5px;
}

.item-heading {
  font-size: 20px;
}

.promo-code-section {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.apply-promo-code {
  /* margin-top: 10px; */
  padding: 12px 15px;
}

.promo-input {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  color: var(--dark-color);
  font-family: Montserrat, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  background-color: #fff;
  min-width: 200px;
  font-weight: 500;
  margin-right: 5px;
}

.original-cost {
  text-decoration: line-through;
  color: grey;
  margin-right: 10px;
}

.discounted-cost {
  color: var(--accent-color);
  font-size: 1.2em;
  font-weight: bold;
}

.promo-code-error {
  color: #d9534f;
  margin-top: -5px;
  font-size: 0.9em;
  font-size: 14px;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .shopping-heading {
    font-size: 30px;
  }

  .text-content {
    margin-top: 0;
    align-items: center;
  }

  .text-content .empty-cart {
    font-size: 20px;
  }

  .text-content p.empty-cart {
    font-size: 18px;
  }

  .shopping-cart__items {
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
  }

  .text-content p {
    font-size: 1em;
  }

  .cart-items .cart-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cart-item-image {
    margin-bottom: 10px;
  }

  .cart-item-details {
    display: flex;
  }

  .cart-item-details .remove-cart {
    order: 5;
  }
}

@media only screen and (max-width: 360px) {
  .shopping-cart__items {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .shopping-cart .basket-img {
    max-width: 60%;
    margin-bottom: 10px;
  }

  .text-content {
    width: 100%;
    max-width: 200px;
    align-items: center;
  }

  .text-content p {
    font-size: 1.2em;
  }
}