.categories-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  cursor: pointer;
  font-size: 18px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.category-item {
  font-size: 16px;
  color: var(--brand-color);
  cursor: pointer;
  padding: 2px;
  border-radius: 2px;
  font-weight: 600;
}

.category-item.active {
  background-color: var(--brand-color);
  color: #fff;
}

.category-item:hover {
  color: var(--accent-color);
}

.products-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  list-style: none;
  padding: 20px 0;
  overflow: hidden;
}

.card {
  position: relative;
  padding: 15px;
  max-width: 300px;
  width: 100%;
  height: 500px;
  border-radius: 50px;
  transform: translateY(0) translate3d(0, 0, 0);
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.card-link {
  display: grid;
  height: 100%;
  grid-template-rows: 250px 1fr auto;
  gap: 10px;
  color: var(--dark-color);
  text-decoration: none;
}

.card:hover {
  transform: translateY(-10px);
}

.card:active {
  transform: perspective(500px) translate3d(0, 0, 10px);
}

.card-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
}

.products-img {
  object-fit: contain;
  object-position: center;
}

.card-middle {
  display: grid;
  gap: 5px;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.products-header {
  font-size: 18px;
  margin: 0;
}

.products-description {
  width: 100%;
  height: 80px;
  margin: 0;
  font-size: 14px;
  line-height: 1.2;
}

.total {
  font-size: 14px;
  text-align: left;
}

.more-btn {
  padding: 5px;
  background-color: transparent;
  color: var(--accent-color);
  font-size: 24px;
  cursor: pointer;
}

.more-btn:hover {
  color: var(--brand-color);
}

.nothing-text {
  font-size: 24px;
  color: var(--brand-color);
}

.error-message {
  color: var(--accent-color);
}
