.register-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  line-height: 1.6;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.registration-section {
  background: var(--content-bg);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 20px;
  max-height: 90vh;
  overflow-y: auto;
  width: 50vw;
}

/* Form elements */
.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registration-section h1,
.registration-section h2 {
  margin-bottom: 20px;
  color: var(--brand-color);
  font-size: 1.2rem;
}

.registration-section h1 {
  font-size: 1.5rem;
}

.registration-section label {
  margin-bottom: 5px;
  color: var(--dark-color);
  font-family: Montserrat, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
}

.register-form input[type='text'],
.register-form input[type='email'],
.register-form input[type='password'],
.register-form input[type='date'] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: var(--dark-color);
  font-family: Montserrat, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  background-color: #fff;
  min-width: 200px;
  font-size: 0.6rem;
}

.register-form input[type='checkbox'] {
  margin-right: 10px;
}

.checkbox-label input {
  font-size: 1rem;
  font-weight: normal;
  background-color: #007bff;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.register-btn {
  margin-top: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.button {
  width: auto;
  cursor: pointer;
}

.button:hover {
  color: var(--brand-color);
}

.error {
  color: #d9534f;
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 0.9em;
}

.success {
  color: #5cb85c;
  margin-top: 10px;
  font-size: 1em;
}

.input-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icon-container {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.visibility-icon {
  width: 20px;
  height: 20px;
}

.navigation-link {
  margin-bottom: 10px;
  font-size: 16px;
}

.navigation-link a {
  color: #007bff;
  text-decoration: none;
}

.navigation-link a:hover {
  text-decoration: underline;
}
