@import url('https://unpkg.com/css.gg@2.0.0/icons/css/home-alt.css');
.register-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  height: 100vh;
  /* overflow: hidden; */
  font-family: Montserrat, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
}

.container {
  max-width: 100vw;
}

.registration-section {
  background: var(--content-bg);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px #0000001a;
  /* width: 100%; */
  margin: 20px;
  max-height: 90vh;
  overflow-y: auto;
  width: 50vw;
}

/* Form elements */
.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registration-section h1,
.registration-section h2 {
  margin-bottom: 20px;
  color: var(--brand-color);
  font-size: 1.2rem;
}

.registration-section h1 {
  font-size: 1.5rem;
}

.registration-section label {
  margin-bottom: 5px;
  color: var(--dark-color);
  font-family: Montserrat, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
}

.register-form input[type='text'],
.register-form input[type='email'],
.register-form input[type='password'],
.register-form input[type='date'] {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: var(--dark-color);
  font-family: Montserrat, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  background-color: #fff;
  min-width: 200px;
  font-size: 0.6rem;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.register-form input[type='checkbox'] {
  margin-right: 10px;
}

.checkbox-label input {
  font-size: 1rem;
  font-weight: normal;
  background-color: #007bff;
}

.register-btn {
  margin-top: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.button {
  width: auto;
  cursor: pointer;
}

.button:hover {
  color: var(--brand-color);
}
.form-group {
  position: relative;
}
.error {
  color: #d9534f;
  margin-top: -5px;
  font-size: 0.9em;
  font-size: 13px;
  align-items: center;
  position: absolute;
  top: 100%;
  left: 10px;
  line-height: 1;
}
.server-error,
.other-error {
  color: #d9534f;
  font-size: 0.7rem;
  font-weight: bold;
  text-align: center;
}

.server-error p {
  margin: 0 auto;
}
.server-error p {
  width: 50%;
}

.other-error {
  color: #d9534f;
  font-size: 20px;
  position: relative;
  bottom: -10px;
  left: 0;
  width: 50%;
  line-height: 1;
  font-size: 14px;
  margin: 0 auto;
}

.password-field {
  position: relative;
}

.error-zip {
  right: 0;
}

.error-password {
  margin-top: -25px;
}

.error-icon {
  margin-right: 5px;
}

.normal-input {
  border-color: 1px solid #ced4da;
}

.register-form .error-input {
  border: 1px solid red;
}

.success-msg {
  color: #5cb85c;
  margin-top: 10px;
  font-size: 1em;
}

.input-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
}

.form-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 25px;
}

.icon-container {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.visibility-icon {
  width: 20px;
  height: 20px;
}

.navigation-link {
  margin-bottom: 10px;
  font-size: 16px;
}

.navigation-link a {
  margin-left: 7px;
  color: var(--brand-color);
  text-decoration: none;
  vertical-align: middle;
}
.navigation-link a .home-icon {
  vertical-align: sup;
}

.navigation-link a:hover {
  text-decoration: underline;
  color: #007bff;
}

@media only screen and (max-width: 1024px) {
  .container,
  .register-container {
    max-width: 100vw;
  }
  .registration-section {
    max-width: 70vw;
  }

  .register-form input[type='text'],
  .register-form input[type='email'],
  .register-form input[type='password'],
  .register-form input[type='date'] {
    min-width: 170px;
    gap: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .registration-section {
    width: 90vw;
  }
  .form-group {
    justify-content: space-around;
  }

  .register-form input[type='text'],
  .register-form input[type='email'],
  .register-form input[type='password'],
  .register-form input[type='date'] {
    min-width: 160px;
  }
}

@media only screen and (max-width: 425px) {
  .register-container {
    align-items: center;
    justify-content: center;
  }
  .registration-section {
    width: 100%;
    /* align-items: center; */
  }
  .input-container {
    width: 100%;
  }
  .form-group {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .register-form input[type='text'],
  .register-form input[type='email'],
  .register-form input[type='password'],
  .register-form input[type='date'] {
    min-width: 100%;
  }

  .password-field {
    width: 100%;
  }
}
