:root {
  --dark-color: #333;
  box-sizing: border-box;
}

.swiper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.swiper-slide img {
  width: 100%;
}

.detailed-product {
  background-color: #fff;
  max-width: 100vw;
}

.product-info {
  margin-left: 20px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: last baseline;
}

.product-content {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
}

.product-name {
  margin-bottom: 40px;
  font-size: 30px;
  color: var(--brand-color);
  font-weight: 800;
}

.product-price {
  font-size: 20px;
  font-weight: 700;
  color: var(--dark-color);
}

.product-price span:nth-child(2) {
  color: rgb(221, 16, 16);
  margin-left: 15px;
}

.swiper-img img {
  width: 100%;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000;
}

.swiper-pagination-bullet-active {
  background: #000;
}

.description-heading {
  display: block;
  text-align: left;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--brand-color);
  width: 45%;
}

.product-description {
  display: block;
  color: var(--brand-color);
  font-size: 14px;
  font-weight: 500;
  width: 45%;
  text-align: left;
  line-height: 1.2;
  margin-bottom: 20px;
  /* overflow-wrap: break-word; */
  overflow-x: hidden;
}

.delivery-return-info tr th {
  font-size: 16px;
  font-weight: 500;
}

.delivery-return-info td {
  color: var(--text-color);
  margin-bottom: 10px;
  font-size: 16px;
}

.delivery-return-info {
  width: 90%;
  margin-left: auto;
  border-collapse: collapse;
  border: 1px solid #ddd;
  margin-top: 20px;
  background-color: #dfe9f4;
  /* overflow-wrap: break-word; */
}

.delivery-return-info th,
.delivery-return-info td {
  padding: 15px;
  text-align: left;
}

.delivery-return-info th {
  background-color: #fff;
}

.delivery-return-info td:last-child {
  border-bottom: none;
}

.delivery-return-info tr:last-child td {
  border-bottom: none;
}

.return-btn {
  padding-bottom: 10px;
}

.return-btn .button {
  font-size: 16px;
}

.detailed-product {
  overflow-y: hidden;
}

.detailed-product::-webkit-scrollbar {
  display: none;
}

.price-basket-label {
  font-weight: 600;
}

@media only screen and (max-width: 968px) {
  .swiper {
    max-width: 100%;
  }

  .product-img {
    max-width: 100vw;
  }

  .product-img {
    flex-shrink: 2;
    flex-basis: 200px;
  }

  .product-content {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .product-info {
    width: 100%;
    margin-left: 0;
  }

  .description-heading,
  .product-description,
  .delivery-return-info {
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    overflow-x: hidden;
  }

  .delivery-return-info {
    margin: 0;
    padding: 0;
  }

  .product-description {
    width: auto;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 100%;
    height: auto;
  }

  .product-name,
  .product-price {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
