.header {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr 34px;
  align-items: center;
  gap: 20px;
}

.logo-link {
  display: block;
}

.logo-img {
  display: block;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.profile-btn {
  display: block;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: var(--brand-color);
  background-image: url('../../assets/images/icon_profile.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.profile-panel {
  position: absolute;
  right: 0;
  top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  max-width: 100px;
  width: 100%;
  padding: 5px 5px 15px 5px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.profile-header {
  font-weight: 700;
  margin: 0;
  border-bottom: 1px solid var(--brand-color);
}

.profile-header,
.profile-link {
  font-size: 15px;
  line-height: 20px;
}

.profile-link {
  color: var(--dark-color);
  text-decoration: none;
}

.profile-button {
  border: none;
  padding: 0;
  background-color: transparent;
}

.nav-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  background-color: #fff;
  color: var(--dark-color);
}

.nav-link.active {
  color: var(--brand-color);
}

.nav-link::after {
  display: block;
  content: '';
  height: 1px;
  width: 0;
  align-items: center;
  background-color: var(--brand-color);
  transition: width 0.5s ease-out;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}
