.password-field {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 10px;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.input-container input {
  padding-right: 2rem;
}

.icon-container {
  right: 25px;
  top: 2px;
  cursor: pointer;
  display: inline;
  position: relative;
}

.visibility-icon {
  width: 20px;
  margin-top: auto;
}

.error {
  color: red;
  margin-top: 0.5rem;
}
