.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  align-items: center;
  padding: 60px;
  background-color: var(--brand-color);
  color: #fff;
  margin-top: auto;
}

.footer-left {
  text-align: right;
}

.footer-lists,
.contributors {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 8px;
  text-align: left;
}

.footer-link {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  line-height: 22px;
  transition: background-color 0.5s ease-in-out;
}

.footer-link:hover {
  background-color: #fff;
}

.contributors-header {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 968px) {
  .footer {
    grid-template-columns: auto;
    grid-template-areas:
      'navlist contributors'
      'footer-left footer-left';
  }

  .footer-lists {
    grid-area: navlist;
  }

  .contributors {
    grid-area: contributors;
  }

  .footer-left {
    grid-area: footer-left;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    gap: 20px;
    padding: 20px;
  }
}
