.collection {
  padding-top: 40px;
  padding-bottom: 80px;
  background-color: var(--white);
}

.collection-text {
  margin: 0 0 30px;
}

.collection-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.collection-link {
  transition: transform 0.5s ease-in-out;
}

.collection-link:first-child,
.collection-link:last-child {
  transform: translateY(40px);
}

.collection-link:first-child:hover,
.collection-link:last-child:hover {
  transform: translateY(0);
}

.collection-link:nth-child(2) {
  transform: translateY(0);
}

.collection-link:nth-child(2):hover {
  transform: translateY(40px);
}

@media screen and (max-width: 968px) {
  .collection {
    padding-bottom: 40px;
  }

  .collection-images {
    grid-template-columns: 1fr;
  }

  .collection-link:first-child,
  .collection-link:last-child {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .collection-link img {
    width: 250px;
    height: 300px;
  }
}